
	p{ /*Typselektor*/*/
		Color: blue;
	}
p,	h1{
	font-family: arial;
	font-size: 22 px;
	text-align: middle;
}
p,	h2{ /*Gruppselektor*/

	font-family: arial;
	font-size: 20 px;
	text-align: middle;
	
}

body.bg-blue{/*Klassselektor*/
	Background-color: blue;
	}  
	